<%= if error = live_flash(@flash, :error) do %>
  <div class="relative bg-red-600">
    <div class="px-3 py-3 mx-auto max-w-7xl sm:px-6 lg:px-8">
      <div class="pr-16 sm:text-center sm:px-16">
        <p class="font-bold text-white">
          <span>
            <%= error %>
          </span>
        </p>
      </div>
    </div>
  </div>
<% else %>
  <div class="relative">
    <div class="px-3 py-3 mx-auto max-w-7xl sm:px-6 lg:px-8">
    </div>
  </div>
<% end %>
